$breakpoint-sm: 41em;
$breakpoint-md: 56em;
$breakpoint-lg: 67em;
$breakpoint-xlg: 87.5em;

@font-face {
  font-family: "DotGothic16";
  font-style: normal;
  font-weight: normal;
  src: url(DotGothic16-Regular.ttf);
}

html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
}

*, *::befere, *::after {
  box-sizing: inherit;
}

@mixin monster-ball {
  background: linear-gradient(to right, rgba(#f60002, 1), rgba(#f60002, 0.4));
  height: 10rem;
  width: 10rem;
  position: fixed;
  border-radius: 50%;
  overflow: hidden;
  &::before {
    content: "";
    border: rgb(27, 26, 26) 10px solid;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1));
    position: absolute;
    top: 50%;
    left: -10%;
    height: 20vh;
    width: 100vw;
  }
  .monster-ball-button {
    background: rgb(27, 26, 26);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: absolute;
    top: 42%;
    left: 42%;
  }
  @media (min-width: $breakpoint-md) {
    height: 15rem;
    width: 15rem;
    .monster-ball-button {
      height: 3rem;
      width: 3rem;
    }
  }
  @media (min-width: $breakpoint-lg) {
    height: 20rem;
    width: 20rem;
    .monster-ball-button {
      height: 4rem;
      width: 4rem;
    }
  }
}

#monster-ball-1 {
  @include monster-ball();
  top: 10%;
  left: 67%;
  transform: rotate(10deg);
}

#monster-ball-2 {
  @include monster-ball();
  top: 40%;
  left: 7%;
  transform: rotate(-20deg);
}

#monster-ball-3 {
  @include monster-ball();
  top: 70%;
  left: 50%;
  transform: rotate(24deg);
}


body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right bottom, rgba(#FF8383, 0.3), rgba(#FF8383,1));
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #ffffff;
  font-family: 'Noto Sans JP', Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  line-height: 1.3;
}

a, a:visited {
  text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
  transform: translate(calc(50vw - 50%));
  .page-title {
    color: #ffffff;
    font-size: 2.4rem;
    letter-spacing: 4px;
    text-shadow:
        -2px  2px 1px #003366,
         2px -2px 1px #003366,
        -2px -2px 1px #003366,
         0px -2px 1px #003366;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4rem;
  padding-bottom: 0.9rem;
  padding-top: 0.9rem;

  background: linear-gradient(to bottom right, rgba(255,255,255,0.6), rgba(255,255,255,0.9));
  border-radius: 5%;

  .button {
    font-family: DotGothic16;
    color: #000;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow:
      0 0 2px  #fff,
      0 0 2px  #fff,
      0 0 2px  #fff,
      0 0 2px  #fff;

    width: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 1rem;
    display: flex;
    justify-content: center;

    img {
      height: auto;
      align-self: start;
      margin-right: 1rem;
    }

    div {
      padding-top: 0.4rem;
    }

    &.quiz-button {
      background-color: #c8ffcb;
      border-bottom: 6px solid #8fb891;
      &:active {
        margin-top: 7px;
        background: #c8ffcb;
        border-bottom: 2px solid #8fb891;
      }
    }
    &.collection-button {
      background-color: #f7ed94;
      border-bottom: 6px solid #b3aa62;
      &:active {
        margin-top: 7px;
        background: #f7ed94;
        border-bottom: 2px solid #b3aa62;
      }
    }
  }
  @media (min-width: $breakpoint-lg) {
    display: none;
  }
}

.cards {
  display: grid;
  gap: 2rem;

  max-width: 1000px;
  margin: 20% auto 0;
  padding: 2rem 2rem 8rem;

  @media (min-width: $breakpoint-sm) {
    margin: 15% auto 0;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(4, 1fr);
    margin-top: 5%;
  }

  .card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 140px 1fr;

    position: relative;

    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(0,0,0, 0.4);
    color: #1d1818;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5%;

    @media (min-width: $breakpoint-xlg) {
      grid-template-rows: 190px 1fr;
    }

    .image {
      grid-column: 1 / 2;
      grid-row: 1 / 2;

      height: 150px;
      width: 150px;
      background: no-repeat center center/cover;
      margin: 0 auto;

      @media (min-width: $breakpoint-xlg) {
        height: 200px;
        width: 200px;
      }
    }

    .name {
      padding-bottom: 1rem;
      font-size: 2rem;
      letter-spacing: 0.4rem;
      text-shadow: 1px 1px rgba(255,255,255,0.6);
    }

    .attributes {
      display: grid;
      grid-template-columns: 1fr 1fr;

      padding-bottom: 1rem;

      .attribute-header {
        grid-column: 1 / 2;
        padding-left: 3rem;
      }
      .attribute-value {
        padding-right: 3rem;
      }

      hr {
        grid-column: 1 / 3;
        border-bottom: solid 1px black;
        max-width: 270px;
        width: 100%;
        @media (min-width: $breakpoint-sm) {
          max-width: 170px;
        }
      }
    }
    .overlay {
      display: none;
    }
    @media (min-width: $breakpoint-md) {
      &:hover > .overlay {
        opacity: 1;
      }
      .overlay {
        display: grid;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;

        border-radius: 5%;
        opacity: 0;
        background: rgba(0,0,0,0.1);

        transition: opacity 200ms ease-in-out;

        span {
          border: 2px solid #ffffff;
          padding: 1rem 3rem ;
          color: #ffffff;
          font-weight: 700;

          background: rgba(0,0,0,0.5);
        }

        span:hover {
          background: rgba(255,255,255,0.5);
          color: rgba(255,255,255,0.5);
          text-shadow: 1px 1px #000;
        }
      }
    }
  }
}


.quiz {
  display: grid;
  position: relative;

  grid-template-columns: 1fr;
  grid-template-rows: 60vh auto;

  justify-items: center;

  .image {
    max-height: 16rem;
    max-width: 16rem;
    margin-top: 27%;
    align-self: center;
  }

  .options {
    grid-row: 2 / 3;

    display: grid;
    grid-template-rows: repeat(4, auto);

    margin-top: 3vh;

    background: linear-gradient(to bottom right, rgba(0,0,0,0.8), rgba(0,0,0,0.5));
    backdrop-filter: blur(10px);

    border-radius: 10px;
    width: 90%;

    font-family: DotGothic16;
    .option {
      padding: 1.2vh 0 1.2vh 3vh;
      color: white;
      letter-spacing: 2px;
      &:active {
        background: linear-gradient(to bottom right, rgba(255,255,255,0.8), rgba(255,255,255,0.5));;
        color: black;
      }
    }
  }

  .summary {
    background: linear-gradient(to bottom right, rgba(0,0,0,0.8), rgba(0,0,0,0.5));
    border-radius: 10px;
    width: 90%;
    margin-top: 30%;
    font-family: DotGothic16;
    letter-spacing: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .result-lost {
      color: #5477e7;
    }
    .result-won {
      color: rgb(97, 226, 97);
    }
  }
}

.bread-crumbs {
  color: rgb(27, 26, 26);
  text-align: center;
}

.modal {
  color: #000;
  font-family: DotGothic16;
}

