<aside id="how-to">
  <article id="info">
    <h2 class="info-icon">i</h2>
    <section>
      <h2>あそびかた</h2>
      <h3>1. ポケモンのなまえをおぼえよう！</h3>
      <p>
        このページをスクロール⬆️⬇️して、いろいろなポケモンのなまえをみてね！<br>
        カードをタップすると、なまえをよみあげるよ！<img class="audio-indicator" src="icons/no-audio.svg" alt="音声表示例"> → <img style="transform: rotate(-15deg);" class="audio-indicator" src="icons/audio.svg" alt="音声表示例">
      </p>
      <h3>2. クイズにちょうせんしよう！</h3>
      <p>
        <img src="info/quiz.png" alt="" height="30"> ボタンをタップして、クイズができるよ！<br>
        3もんせいかいすると、ポケモン3匹ゲットできるよ！<br>
      </p>
      <h3>3. てもちポケモンをみてみよう！</h3>
      <p>
        <img src="info/my-pokemon.png" alt="" height="30"> ボタンをタップして、これまでクイズでゲットしてきたポケモンがかくにんできるよ！<br>
        ポケモンぜんしゅるいゲットをめざそう！
      </p>
    </section>
  </article>
</aside>
<aside id="type-tags"></aside>
<main class="cards"></main>
<script type="module" src="js/home/index.js"></script>