<section class="cards">
  <% @pokemons.each do |pokemon| %>
    <a href="#" class="card">
      <div class="overlay">
        <span>ゲットする</span>
      </div>
      <img class="image" loading="lazy" src="images/<%= "#{pokemon["pokemon_no"].rjust(3, "0")}.png" %>">
      <div class="content">
        <div class="name"><%= pokemon["name"] %></div>
        <div class="attributes">
          <hr>
          <span class="attribute-header">のうりょく：</span>
          <span class="attribute-value"><%= eval(pokemon["abilities"]).join "<br>" %></span>
          <hr>
          <span class="attribute-header">タイプ：</span>
          <span class="attribute-value"><%= eval(pokemon["types"]).join "<br>" %></span>
        </div>
      </div>
    </a>
  <% end %>
</section>