<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <header>
    <h1 class="appname">ポケモンずかん</h1>
  </header>
  <div id="monster-ball-1">
    <div class="monster-ball-button"></div>
  </div>
  <div id="monster-ball-2">
    <div class="monster-ball-button"></div>
  </div>
  <div id="monster-ball-3">
    <div class="monster-ball-button"></div>
  </div>
  <%= yield %>
</body>
</html>
