<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%=@page_title ? "#{@page_title} - ポケモンずかん" : "ポケモンずかん"%></title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <link rel=”icon” href=“favicon.ico”>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8B37816BHL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-8B37816BHL');
  </script>
</head>
<body>
  <%= erb :header %>
  <div id="monster-ball-1">
    <div class="monster-ball-button"></div>
  </div>
  <div id="monster-ball-2">
    <div class="monster-ball-button"></div>
  </div>
  <div id="monster-ball-3">
    <div class="monster-ball-button"></div>
  </div>
  <%= yield %>
  <%= erb :footer %>
  <!-- Remember to include jQuery :) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <!-- jQuery Modal -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
</body>
</html>
