<section class="my-pokemon-stats">
  <h2>これまでにゲットしたポケモンの数</h2>
  <p> / <%= @pokemon_count %></p>
</section>
<section class="my-pokemons">
  <% @pokemon_count.times do |index| %>
    <%= next if index == 0 %>
    <div class="pokemon" id="<%= "#{index.to_s.rjust(3, "0")}" %>">
      <img src="icons/unknown.svg" alt="ポケモン画像">
      <h2><%= index %></h2>
    </div>
  <% end %>
</section>
<script src="js/myPokemons.js"></script>