<section class="quiz">
  <img class="image" loading="lazy" src="images/012.png">
  <div class="options">
    <a class="option" href="#">ほげほげ</a>
    <a class="option" href="#">ほげほげ</a>
    <a class="option" href="#">ほげほげ</a>
    <a class="option" href="#">ほげほげ</a>
  </div>
</section>
<footer>
  <a class="button collection-button" href="/">
    トップにもどる
  </a>
</footer>