@import "./mixins";

.cards {
  display: grid;
  gap: 2rem;

  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem 2rem 8rem;

  @media (min-width: $breakpoint-sm) {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(4, 1fr);
  }

  .card {
    @include card;
    border-radius: 5%;
    transition: all 0.1s;
    padding: 10px 20px;
    &:hover {
      box-shadow: 0 0 10px rgba(0,0,0,0.8);
      transform: scale(1.1);
    }
  }
}