@import "../cards/";

#how-to {
  width: 90%;
  max-width: 1000px;
  margin: 25% auto 0;
  height: 6rem;
  overflow: hidden;
  border-radius: 10px;

  #info {
    text-align: center;
    letter-spacing: 1px;
    position: relative;
    @include glass-background-dark;
    box-shadow: 0 0 10px rgba(0,0,0, 0.4);
    .info-icon {
      display: inline-block;
      width: 32px;
      height: 32px;
      line-height: 32px;
      color: #0089ff;
      box-shadow: 0 0 10px rgba(255,255,255, 0.4);
      text-shadow: 0 0 8px rgba(216, 176, 176, 0.8);
      @include glass-background;
      border-radius: 50%;
      margin-bottom: 0;
    }
    section {
      padding: 0 10px 10px;
      h2 {
        margin: 0;
        font-size: 1.3rem;
      }
      h3 {
        text-align: start;
        margin-left: 5px;
        font-size: 1.1rem;
      }
      p {
        text-align: start;
        font-size: 0.8rem;
        padding: 0 20px;
        line-height: 25px;
        .audio-indicator {
          @include audio-indicator-style($margin: 0);
          margin-bottom: -5px;
          width: 18px;
          height: 18px;
        }
      }

      .indicator {
        position: absolute;
        color: rgba(255, 255, 240, 0.705);
      }

      #indicator-1 {
        top: 2rem;
        left: 0;
        transform: rotate(90deg);
      }

      #indicator-2 {
        top: 2rem;
        right: 0;
        transform: rotate(90deg);
      }
    }
  }
}


#type-tags {
  padding: 0 2rem;
  max-width: 1000px;
  margin: 0 auto;

  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: start;

  #filter-header {
    flex: 0 0 100%;
    font-size: 1rem;
    @include emphasized-font;
  }

  .type-tag {
    font-size: 0.8rem;
    padding: 0.1rem 0.5rem;
    margin: 0.3rem 0.4rem;
    border: 2px solid rgba(255,255,255,0.6);
    border-radius: 20px;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      color: rgb(71, 69, 69);
      @include glass-background;
    }
  }
  .selected {
    @include glass-background-dark;
  }
}

#pokemon-count {
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
  position: relative;
  #count-number {
    @include emphasized-font;
    font-size: 1.5rem;
  }
}

@media (min-width: $breakpoint-sm) {
  #how-to {
    margin-top: 15%;
  }
  #type-tags {
    #filter-header {
      font-size: 1.2rem;
    }
  }
  #pokemon-count {
    font-size: 1.5rem;
    #count-number {
      font-size: 1.9rem;
    }
  }
}

@media (min-width: $breakpoint-md) {
  #how-to {
    margin-top: 10%;
    #info {
      section {
        padding: 0 4rem 10px;
        p {
          font-size: 1.25rem;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-lg) {
  #how-to {
    #info {
      section {
        padding: 0 8rem 10px;
        img {
          height: 35px;
          width: auto;
        }
      }
    }
  }
  #type-tags {
    #filter-header {
      font-size: 1.5rem;
    }
  }
}

@media (min-width: $breakpoint-xlg) {
  #how-to {
    margin-top: 5%;
  }
}