@import "../cards/";

#how-to {
  padding: 0 2rem;
  max-width: 1000px;
  margin: 20% auto 0;

  #info {
    text-align: center;
    letter-spacing: 1px;
    position: relative;
    @include glass-background-dark;
    box-shadow: 0 0 10px rgba(0,0,0, 0.4);
    border-radius: 10px;
    .info-icon {
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 50px;
      color: rgb(218, 7, 7);
      @include glass-background;
      border-radius: 50%;
    }
    section {
      padding: 0 10px 10px;
      h2 {
        margin: 0;
      }
      h3 {
        text-align: start;
        margin-left: 5px;
      }
      p {
        text-align: start;
        font-size: 1.1rem;
        padding: 0 20px;
        line-height: 25px;
        .audio-indicator {
          @include audio-indicator-style($margin: 0);
          margin-bottom: -5px;
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}


#type-tags {
  padding: 0 2rem;
  max-width: 1000px;
  margin: 5% auto;

  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .type-tag {
    font-size: 1rem;
    padding: 0.1rem 0.5rem;
    margin: 0.2rem 0.1rem;
    border: 2px solid rgba(255,255,255,0.6);
    border-radius: 10px;
    transition: all 0.2s;
    cursor: pointer;
    &:hover {
      color: rgb(71, 69, 69);
      @include glass-background;
    }
  }
  .selected {
    @include glass-background-dark;
  }
}

@media (min-width: $breakpoint-md) {
  #how-to {
    margin-top: 10%;
    #info {
      section {
        padding: 0 4rem 10px;
        p {
          font-size: 1.25rem;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-lg) {
  #how-to {
    #info {
      section {
        padding: 0 8rem 10px;
        img {
          height: 35px;
          width: auto;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-xlg) {
  #how-to {
    margin-top: 5%;
  }
}