.my-pokemon-stats {
  width: 90vw;
  max-width: 800px;
  margin: 5rem auto 2rem;
  text-align: center;
  @include glass-background-dark();
  box-shadow: 0 0 7px rgba(0,0,0, 0.8);
  border-radius: 10px;
  * {
    margin: 0;
  }
  h2 {
    font-size: 1.2rem;
  }
  p {
    font-size: 2rem;
  }
  @media (min-width: $breakpoint-lg) {
    h2 {
      font-size: 2.4rem;
    }
    p {
      font-size: 4rem;
    }
  }
}

.my-pokemons {
  width: 100vw;
  margin: 0 auto 15%;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

  .pokemon {
    position: relative;
    text-align: center;
    margin-bottom: 1.5rem;
    img {
      height: 90px;
      width: auto;
      @include glass-background;
      box-shadow: 0 0 7px rgba(0,0,0, 0.8);
      border-radius: 50%;
      padding: 1rem;
    }
    h2 {
      @include emphasized-font;
      position: absolute;
      bottom: 10%;
      right: 20%;
      margin: 0;
    }
  }

  @media (min-width: $breakpoint-md) {
    width: 70vw;
  }
}