.quiz {
  height: 100vh;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .image-container {
    position: relative;
    height: 30%;
    margin-top: 20%;

    .image {
      height: 100%;
    }
    .audio-indicator {
      @include glass-background;
      @include audio-indicator-style($padding: 0.3rem, $margin: 0.3rem);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    border-radius: 10px;
    overflow: hidden;
    width: 90%;
    height: 30%;
    margin-top: 6%;
    box-shadow: 0 0 7px rgba(0,0,0, 0.8);
    text-align: center;

    .option {
      @include glass-background-dark;
      font-size: 1rem;
      color: white;
      letter-spacing: 2px;
      height: 100%;

      display: grid;
      align-content: center;

      &:active {
        background: linear-gradient(to bottom right, rgba(255,255,255,0.8), rgba(255,255,255,0.5));;
        color: black;
      }
    }
  }

  .summary {
    @include glass-background-dark;
    box-shadow: 0 0 7px rgba(0,0,0, 0.8);
    border-radius: 10px;
    width: 90%;
    max-width: 1000px;
    font-family: DotGothic16;
    letter-spacing: 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  @media (min-width: $breakpoint-md) {
    max-width: 1000px;
    margin: 0 auto;

    flex-direction: row;
    justify-content: space-evenly;
    .image-container {
      margin-top: 0;
      .image {
        height: 110%;
      }
    }
    .options {
      width: 50%;
      .option {
        font-size: 1.6rem;
        letter-spacing: 0.5rem;
      }
    }
  }

  @media (min-width: $breakpoint-lg) {
    .image-container {
      .image {
        height: 130%;
      }
    }
    .options {
      margin-left: 100px;
      width: 80%;
    }
  }
}

#result-lost {
  color: #5477e7;
  font-weight: bold;
}
#result-won {
  color: rgb(97, 226, 97);
  font-weight: bold;
}

.bread-crumbs {
  color: rgb(27, 26, 26);
  text-align: center;
  @include emphasized-font;
}