@mixin glass-background-dark {
  background: linear-gradient(to bottom right, rgba(0,0,0,0.8), rgba(0,0,0,0.5));
  backdrop-filter: blur(10px);
}

@mixin glass-background {
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.9));
  backdrop-filter: blur(3px);
}

@mixin emphasized-font {
  color: #ffffff;
  letter-spacing: 4px;
  text-shadow:
       0px  2px 1px #003366,
       0px -2px 1px #003366,
      -2px -2px 1px #003366,
      -2px  2px 1px #003366,
       2px -2px 1px #003366,
       2px  2px 1px #003366;
}

@mixin monster-ball {
  background: linear-gradient(to right, rgba(#f60002, 1), rgba(#f60002, 0.4));
  height: 10rem;
  width: 10rem;
  position: fixed;
  border-radius: 50%;
  overflow: hidden;
  &::before {
    content: "";
    border: rgb(27, 26, 26) 10px solid;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.1));
    position: absolute;
    top: 50%;
    left: -10%;
    height: 20vh;
    width: 100vw;
  }
  .monster-ball-button {
    background: rgb(27, 26, 26);
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    position: absolute;
    top: 42%;
    left: 42%;
    &::before {
      content: "";
      background: linear-gradient(to right bottom, rgba(255, 183, 183, 1), rgba(255, 183, 183, 0.6));
      border-radius: 50%;
      position: absolute;
      top: 25%;
      left: 25%;
      height: 1rem;
      width: 1rem;
    }
  }
  @media (min-width: $breakpoint-md) {
    height: 15rem;
    width: 15rem;
    .monster-ball-button {
      height: 3rem;
      width: 3rem;
      &::before{
        height: 1.3rem;
        width: 1.3rem;
        top: 30%;
        left: 30%;
      }
    }
  }
  @media (min-width: $breakpoint-lg) {
    height: 20rem;
    width: 20rem;
    .monster-ball-button {
      height: 4rem;
      width: 4rem;
      &::before{
        height: 1.7rem;
        width: 1.7rem;
      }
    }
  }
}